<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>360DegreeFeedback</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>XSS</filter-name>
    <filter-class>com.mahindra.common.filters.CrossScriptingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mahindra.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataController</display-name>
    <servlet-name>DataController</servlet-name>
    <servlet-class>com.mahindra.controller.DataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataController</servlet-name>
    <url-pattern>/DataController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.mahindra.common.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RespondentController</display-name>
    <servlet-name>RespondentController</servlet-name>
    <servlet-class>com.mahindra.controller.RespondentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespondentController</servlet-name>
    <url-pattern>/RespondentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackController</display-name>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>com.mahindra.controller.FeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardUIController</display-name>
    <servlet-name>DashBoardUIController</servlet-name>
    <servlet-class>com.mahindra.controller.DashBoardUIController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardUIController</servlet-name>
    <url-pattern>/DashBoardUIController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.mahindra.scheduler.MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ManualMailTrigger</display-name>
    <servlet-name>ManualMailTrigger</servlet-name>
    <servlet-class>com.mahindra.controller.ManualMailTrigger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManualMailTrigger</servlet-name>
    <url-pattern>/sentManualMails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadStatusReportDump</display-name>
    <servlet-name>DownloadStatusReportDump</servlet-name>
    <servlet-class>com.mahindra.controller.DownloadStatusReportDump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadStatusReportDump</servlet-name>
    <url-pattern>/DownloadStatusReportDump</url-pattern>
  </servlet-mapping>
 <!-- <security-constraint>
    <web-resource-collection>
      <web-resource-name>https</web-resource-name>
      <description>No Description</description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <description>No Description</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint> -->  
 <!-- <session-config>
    <cookie-config>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
  </session-config> -->
   <servlet>
    <description></description>
    <display-name>ChangePwdController</display-name>
    <servlet-name>ChangePwdController</servlet-name>
    <servlet-class>com.mahindra.controller.ChangePwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdController</servlet-name>
    <url-pattern>/ChangePwdController</url-pattern>
  </servlet-mapping>
</web-app>